<ion-view title="Products">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header text-center">
    <div class="card">
    	<div class="item item-icon-left">
    		<i class="icon ion-home"></i>
			Fred FORT
		</div>
		<div class="item item-icon-left">
    		<i class="icon ion-email"></i>
			frederic.fort32@gmail.com
		</div>
		<div class="item item-icon-left">
    		<i class="icon ion-ios7-telephone"></i>
			+353 87 29 11 26
		</div>
	</div>
  <div class="row text-center">
    <div class="fb-like"  data-send="true" data-width="450" data-show-faces="true">
  </div>
</div>
  </ion-content>
</ion-view>
