<ion-view title="Offers">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

     <div data-tap-disabled="true" id="map" style="height:250px;" style="margin-bottom:250px"></div>
     
     <br />
     <div class="list" ng-repeat="product in products">
      	<div class="item item-divider">
      		{{product.name}}
      	</div>
      	<div  class="item" href="#">
      		    Name:     {{product.name}}<br>
              Desc:     {{product.description}}<br>
              Qte:      {{product.quantity}}
      	</div>
      </div>
      <div ng-show="!products  || products.length === 0" class="text-center">
        <p>
         None of our offer match your position and/or your products preference, keep walking or update your product preference.
        </p>
        <p>
          <a class="button button-positive" ui-sref="app.products">
           Update my product preference
          </a>
        </p>
      </div>
  </ion-content>
</ion-view>
